<section class="scene compliments-scene" id="scene-compliments">
    <div class="container text-center relative-z">
        <h2 class="compliments-title">With Best Compliments From</h2>

        <div class="compliments-flex">
            <!-- Left Side -->
            <div class="compliments-col">
                <!-- <h3 class="compliments-role">PARENTS</h3> -->
                <p class="compliments-name">Shree Bhupendra Pati Sharma</p>
                <p class="compliments-name">Smt. Savitri Dubey</p>
            </div>

            <!-- Right Side -->
            <div class="compliments-col">
                <!-- <h3 class="compliments-role">BROTHER</h3> -->
                <p class="compliments-name">Rituraj Goswami</p>
            </div>
        </div>
    </div>
</section>