<section class="scene story-scene" id="scene-story">
    <div class="container text-center">
        <div class="hero-names-wrapper">
            <div class="name-line"></div>
            <h1 class="hero-title-elegant"> Our Story </h1>
            <div class="name-line"></div>
        </div>
        <!-- Top City: Silchar -->
        <div class="city-illustration-box top-city">
            <img src="images/patna-bihar.png" alt="Patna Bihar" class="city-img">
            <h3 class="city-name silchar-name">PATNA</h3>
        </div>

        <!-- Center Text -->
        <div class="story-center-text">
            <p>Two hearts, one destiny;</p>
            <p>a love written in eternity.</p>
        </div>

        <!-- Bottom City: Patna -->
        <div class="city-illustration-box bottom-city">
            <img src="images/silchar-assam.png" alt="Silchar Assam" class="city-img">
            <h3 class="city-name patna-name">SILCHAR</h3>


        </div>
    </div>
</section>